

<div class="col-xs-6">
  <h1>Your current conversations</h1>
  <h4>Click to send a new message.</h4>
  <% if @conversations %>
    <% @conversations.each do |convo| %>
    <%= link_to "Messages with #{convo.other_user(current_user)}  (#{convo.messages.length} messages)",  conversation_path(convo) %>
    <% end %>
  <% else %>
    <h4>You have no conversations yet</h4>
  <% end %>
</div>
<div class="col-xs-6">
  <h1>Start a new conversation</h1>
  <h4>With a trainer:</h4>
  <div class="trainers">
    <% @users.each do |u| %>
      <% if u.trainer && !current_user.between(u.id) %>
        <%= link_to u.user_name, user_path(u) %>
      <% end %>
    <% end %>
  </div>
  <h4>With another member:</h4>
  <div class="members">
    <% @users.each do |u| %>
      <% if !u.trainer && !current_user.between(u.id) %>
        <%= link_to u.user_name, user_path(u) %>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
