@import "bootstrap-sprockets";
@import "bootstrap";

.welcome {
  text-align: center;
}

.new-chat {
  margin-left: 8%;
}

body {
  background-image: url(yoga.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron, .well {
  opacity: .8;
}
